{% extends "base.html" %}

{% block title %}Detail{% endblock title %}

{% block content %}

<br>
<div class="card">
  <h5 class="card-header">Restaurant Info</h5>
  {% if restaurant.logo %}
    <img class="card-img-top" src="{{restaurant.logo.url}}" alt="Hey Noob, look at me...">
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{restaurant.name}}</h5>
    <p class="card-text">{{restaurant.description|linebreaks}}</p>
    <p class="card-text">Opening Time: {{restaurant.opening_time}}</p>
    <p class="card-text">Closing Time: {{restaurant.closing_time}}</p>
    <div class="row text-center">
        <div class="col-md-6">
            <a href="{% url 'restaurant-update' restaurant.id %}" class="btn btn-outline-primary btn-block">Update</a>
        </div>
        <div class="col-md-6">
            <a href="{% url 'restaurant-delete' restaurant.id %}" class="btn btn-outline-danger btn-block">Delete</a>
        </div>
    </div>
  </div>
</div>
{% endblock content %}